.about{
    background-color: #ecf7f9;
    background-image: url(https://templates.hibootstrap.com/opnix/default/assets/images/about/bg1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.about_img:hover{
    transform: scale(0.95);
    transition: transform .6s, opacity .3s;
}